<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.users.MAIN"></h4>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: YOUR CONTENT HERE -->
<div class="container-fluid container-fullw bg-white" ng-controller="UserCtrl">
    <div class="row">
        <div class="text-right col-lg-12">
            <button type="button" class="btn btn-circle btn-lg" uib-tooltip="Yeni Kullanıcı Ekle" ng-click="addNewUser()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
            <div ng-controller="UserCtrl">
                <uib-tabset class="tabbable">
                    <!-- start: TAB OVERVIEW -->
                    <uib-tab heading="Aktif Kullanıcılar">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="user-left">
                                    <div class="center">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Onay Bekleyen">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="user-left">
                                    <div class="center">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>

<!-- end: YOUR CONTENT HERE -->